<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/css/materias.css">
        <title>Document</title>
    </head>
    <body>
        <div class="caja">
            <div class="botones">
                <form>
                
                    <div class="materias_caja">
                        <label for="materias">Selecciona tus Materias:</label><br>
                        <select id="materias" name="materias[]" multiple>
                            <option value="materias_semestre"><span th:text="${materias}">0</span></option>
                        </select>
                    </div>
                
                    <div class="horas_estudio">
                        <label for="horas_estudio">Horas de estudio disponibles al día:</label><br>
                        <input type="number" id="horas_estudio" name="horas_estudio" placeholder="Horas de estudio" min="1" max="24" th:field="*{horas_estudio}">
                    </div>
                
                    <br>
                    <button type="submit">Enviar</button>
                </form>
            </div>
        </div>
    </body>
</html>